layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="dev-env" cwd="~/" focus=true {
        pane
    }

    tab name="btop" cwd="~/" {
        pane command="btop"
    }

    tab name="leetcode" cwd="~/" {
        pane command="nvim" {
            args "leetcode"
        }
    }

    tab name="Obsidian" cwd="~/SynologyDrive/Notes/Obsidian/cwyark" {
        pane command="nvim"
    }
}
