layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="dev-env" cwd="~/project/dev-env" focus=true {
        pane command="nvim"
    }

    tab name="btop" cwd="~/" {
        pane command="btop"
    }

    tab name="beetcode" cwd="~/" {
        pane command="nvim" {
            args "leetcode"
        }
    }

    tab name="obsidian" cwd="~/Library/CloudStorage/SynologyDrive-Notes/" {
        pane command="nvim"
    }

    tab name="rclone" cwd="~/" {
        pane name="cdevpc" command="rclone" {
            args "mount" "cdevpc:/home/chester" "CloudDrive/cdevpc" "-o" "kernel_cache" "-o" "auto_cache" "--config" ".config/rclone/rclone.conf"
        }
        pane name="jetson-orin" command="rclone" {
            args "mount" "jetson-orin:/home/memryx" "CloudDrive/jetson-orin" "-o" "kernel_cache" "-o" "auto_cache" "--config" ".config/rclone/rclone.conf"
        }
        pane name="orangepi5" command="rclone" {
            args "mount" "orangepi5:/home/orangepi" "CloudDrive/orangepi5" "-o" "kernel_cache" "-o" "auto_cache" "--config" ".config/rclone/rclone.conf"
        }
        pane name="cwnas" command="rclone" {
            args "mount" "cwnas:/home/Drive" "CloudDrive/cwnas" "--config" ".config/rclone/rclone.conf"
        }
    }
}
