layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab name="dev-env" cwd="~/project/dev-env" focus=true {
        pane command="nvim"
    }

    tab name="btop" cwd="~/" {
        pane command="btop"
    }

    tab name="beetcode" cwd="~/" {
        pane command="nvim" {
            args "leetcode"
        }
    }

    tab name="obsidian" cwd="~/Library/CloudStorage/SynologyDrive-Notes/" {
        pane command="nvim"
    }

    tab name="rclone" cwd="~/" {
        pane name="cdevpc" command="dev-sshfs" {
            args "chester@cdevpc:/home/chester" "/Users/cwyark/CloudDrive/cdevpc" "-o" "kernel_cache" "-o" "auto_cache"
        }
        pane name="jetson-orin" command="dev-sshfs" {
            args "memryx@jetson-orin:/home/memryx" "/Users/cwyark/CloudDrive/jetson-orin" "-o" "kernel_cache" "-o" "auto_cache"
        }
        pane name="orangepi5" command="dev-sshfs" {
            args "orangepi@orangepi5:/home/orangepi" "/Users/cwyark/CloudDrive/orangepi5" "-o" "kernel_cache" "-o" "auto_cache"
        }
        pane name="cwnas" command="rclone" {
          args "mount", "cwnas:/home/Drive/" "~/CloudDrive/cwnas/"
        }
    }
}
